<ion-header [translucent]="true">
  <ion-toolbar  class="custom-header" >
    <ion-title>Perfil de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile-header">
    <ion-avatar class="profile-picture">
      <img src="/assets/icon/logoMPA.png" alt="Foto de Perfil" />
    </ion-avatar>
    <ion-button fill="outline" class="edit-btn">Editar Perfil</ion-button>
  </div>

  <div class="profile-info">
    <h2>Juan Pérez</h2>
    <p>📧 Correo.com</p>
    <p>📍 Ciudad, País</p>
    <p>🔹 Desarrollador de Software | Apasionado por la tecnología</p>
  </div>

  <ion-list  class="profile-options">
    <ion-item>
      <ion-icon slot="start" name="key-outline"></ion-icon>
      <ion-label>Seguridad</ion-label>
      <ion-button fill="clear" slot="end">Configurar</ion-button>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="notifications-outline"></ion-icon>
      <ion-label>Notificaciones</ion-label>
      <ion-toggle slot="end" checked></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      <ion-label>Historial de Actividad</ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="full" class="logout-btn">
    <ion-icon slot="start" name="log-out-outline"></ion-icon>
    Cerrar Sesión
  </ion-button>

</ion-content>
