.custom-header {
    --background: var(--ion-color-primary);
    --color: white;
    text-align: center;
}

ion-content {
    box-sizing: border-box;
}
  
ion-col{
    max-height: 300px;
    height: 210px;
}

ion-card {
    background-color: var(--background-contrast);
    color: var(--details-login); 
    border-left: 5px solid var(--details-login);
    transition: 0.3s;
    height: 95%;
  }
  
  ion-card.disconnected {
    background-color: var(--bg-red);
    color: #d32f2f;
    border-left: 5px solid #d32f2f;
  }
  
  ion-card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .title-active{
    color: var(--details-login);
  }

  .title-warning{
    color: #d32f2f;
  }
  
  .active-text {
    color: var(--details-login);
  }
  
  .disconnected-text {
    color: #d32f2f;
    font-weight: bold;
  }
  
  /* Estilos para los iconos */
  ion-icon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .sensor-icon {
    font-size: 28px;
    color: var(--details-login);
    margin-right: 15px;
  }
  
  .icon-warning {
    color: #ff0707; 
  }
  