ion-content {
  --ion-background-color: #ffffff !important;
}
.chart-container {
  background-color: white !important;
  padding: 5px;
  border-radius: 10px;
}
ion-card-header{
  background-color: white !important;
}
ion-card-title{
  color: darkblue !important;
}
ion-card-content{
  background-color: white !important;
}
canvas{
  height: 300px;
  width: 100%;
}