ion-content {
  background-color: var(--ion-background-color)  !important;
}
.chart-container {
  background-color: var(--ion-background-color) !important;
  padding: 5px;
  border-radius: 10px;
}
ion-card-header{
  background-color: var(--ion-background-color) !important;
}
ion-card-title{
  color: var(--letra-cards) !important;
}
ion-card{
  box-shadow: 2px 2px 10px var(--border-chart);
}
ion-card-content{
  background-color: var(--ion-background-color) !important;
}
canvas{
  height: 300px;
  width: 100%;
}