ion-content {
  --ion-background-color: #ffffff !important;
}
.chart-container {
  background-color: white !important; // 🔹 Fondo blanco total
  padding: 10px;
  border-radius: 10px;
}
ion-card-header{
  background-color: white !important;
  color: darkblue !important;
}
ion-card-content{
  background-color: white !important;
}