<ion-header>
  <ion-toolbar>
    <ion-title>Gráficos de Estados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let sensor of sensores; let i = index">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ sensor }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="chart-container">
              <canvas #chartCanvas></canvas>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
