.tab-bar {
  --background: var(--ion-color-primary); 
  --color: var(--ion-text-color);
  height: 10vh;

  ion-tab-button {
    --color: white;
    --color-selected: white;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: var(--tab-hover); 
      transform: scale(1.05); 
    }

    &.tab-selected {
      background-color: var(--tab-select);
      font-weight: bold; 
    }
  }

  ion-icon{
    font-size: 32px;
  }
  ion-label{
    font-size: 0.9rem;
  }
}

.transparent-header {
  --background: transparent !important;
  --ion-background-color: transparent !important;
  --ion-toolbar-background: transparent !important;
  box-shadow: none !important;
}  

.custom-header {
  --background: var(--ion-color-primary); 
  --color: var(--ion-text-color);
  text-align: center;

  ion-menu-button {
    --color: var(ion-text-color);
    margin-right: 10px;
  }
}

.custom-menu {
  .menu-header {
    background: var(--ion-color-primary); 
    color: var(ion-text-color);
  }

  .menu-content {
    background: var(--ion-color-primary);
    --ion-item-background: transparent;
    color: var(--ion-text-color);
  }

  .menu-item {
    --background-hover: rgba(255, 255, 255, 0.1);
    color: var(--ion-text-color);
    margin: 8px 0;

    ion-icon {
      color: var(--ion-text-color); 
    }
  }
}

/* Modificaciones adicionales */
ion-menu[side="end"] {
  --ion-menu-side: end;
  border-left: 2px solid var(--tab-hover);
}

/* Estilos para el botón de tema oscuro */
.custom-header ion-button {
  --color: var(--ion-text-color);
  --background-hover: var(--tab-hover);
}

/* Estilos Mejorados */
.custom-menu {
  --width: 280px;
  --ion-item-background: transparent;
  --ion-item-color: white;

  .menu-header {
    --background: var(ion-color-primary-degradado);
    padding: 20px 0;
    
    .menu-title {
      font-size: 1.2em;
      display: flex;
      align-items: center;
      
      .profile-icon {
        font-size: 2.5em;
        margin-right: 10px;
        color: #4DA8DA;
      }
    }
  }

  .menu-content {
    --background: (--ion-color-primary);
    background: var(ion-color-primary-degradado);
  }

  .menu-divider {
    --color: rgb(255, 255, 255);
    --background: transparent;
    font-size: 0.9em;
    letter-spacing: 1px;
    margin: 15px 0;
  }

  .menu-item {
    --background-hover: var(--tab-hover);
    --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    margin: 8px 10px;
    border-radius: 8px;
    transition: var(--transition);
    
    ion-label {
      font-weight: 500;
    }

    .menu-icon {
      color: #4DA8DA;
      transition: var(--transition);
    }

    &:hover {
      background: var(--tab-hover);
      transform: translateX(8px);
      
      .menu-icon {
        color: #7EC8F8;
        transform: scale(1.1);
      }
    }
  }


  .logout-item {
    margin-top: 30px;
    --background-hover: rgba(255,50,50,0.2);
    
    .menu-icon {
      color: #FF5555;
    }
    
    &:hover {
      .menu-icon {
        color: #ff0000;
      }
    }
  }
}



@media (max-width: 1024px) {
  ion-icon{
    font-size: 30px !important;
  }
  ion-label{
    font-size: 0.9rem !important;
  }
}

@media (max-width: 768px) {
  ion-icon{
    font-size: 28px !important;
  }
  ion-label{
    font-size: 0.9rem !important;
  }
}
@media (max-width: 576px) {
  ion-icon{
    font-size: 24px !important;
  }
  ion-label{
    font-size: 0.8rem !important;
  }
}