.tab-bar {
  --background: #0A2740; /* Azul oscuro */
  --color: white; /* Texto en blanco */
  --color-selected: white;

  ion-tab-button {
    --color: white;
    --color-selected: white;
    transition: all 0.3s ease-in-out; /* Transición suave */

    &:hover {
      background-color: rgba(255, 255, 255, 0.1); /* Efecto de fondo al pasar el cursor */
      transform: scale(1.05); /* Hace un pequeño zoom */
    }

    /* ESTILO CUANDO EL TAB ESTÁ SELECCIONADO */
    &.tab-selected {
      background-color: rgba(255, 255, 255, 0.2); /* Fondo más oscuro */
      font-weight: bold; /* Hace el texto más grueso */
    }
  }

  ion-icon, ion-label {
    transition: color 0.3s ease-in-out; /* Suaviza el cambio de color */

    ion-tab-button:hover & {
      color: #ADD8E6; /* Azul claro en hover */
    }
  }
}
