.custom-header {
  --background: var(--ion-color-primary) !important;
  color: var(--ion-text-color);
  text-align: center;
}

ion-content {
  --background: var(--ion-background-color) !important;
  box-sizing: border-box;
}

ion-row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

ion-col{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}

ion-card{
  width: 100% !important;
  transition: transform 0.6s ease, box-shadow 0.6s ease;
}
ion-card:hover{
  transform: scale(1.05);
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.25);
}

ion-card-title {
  font-size: 1.1rem;
  font-weight: bold;
}

/* 🔹 Estilos cuando el toggle está apagado */
.luces-card-off {
  background: var(--ion-color-primary);
  color: var(--luces-border-off);
  border: 2px solid var(--luces-border-off);
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.luces-card-off .luces-icon {
  color: var(--luces-border-off);
}
.luces-icon {
  font-size: 3.5rem;
  color: var(--ion-color-primary);
  margin: 15px;
  display: block;
}
.luces-card-off ion-card-title {
  color: var(--luces-border-off);
}

/* Estilos cuando el toggle está encendido */
.luces-card-on {
  background: var(--luces-on-background);
  color: var(--luces-on-text);
  border: 2px solid var(--luces-border-on);
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0px 4px 12px var(--luces-shadow);
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.luces-card-on .luces-icon {
  color: var(--luces-on-text);
  text-shadow: 0px 0px 10px var(--luces-shadow-dark);
}

.luces-card-on ion-card-title {
  color: var(--luces-on-text);
  text-shadow: 0px 0px 20px var(--luces-shadow-dark);
}

ion-toggle {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  --track-background: var(--luces-border-off);
  --track-background-checked: var(--luces-border-on);
  --handle-background: var(--luces-border-on);
  --handle-background-checked: var(--luces-border-off);
}

/* 🔹 Responsividad */
@media (max-width: 1024px) { /* Tablets */
  .luces-card-on, .luces-card-off {
      width: 280px;
  }
}

@media (max-width: 768px) { /* Teléfonos grandes */
  .luces-card-on, .luces-card-off {
      width: 100%;
  }
}

@media (max-width: 480px) { /* Teléfonos pequeños */
  .luces-card-on, .luces-card-off {
      width: 100%;
  }
}
