<ion-header [translucent]="true">
  <ion-toolbar class="custom-header">
    <ion-title>Control de Luces</ion-title>
    <ion-back-button slot="start">
    </ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="luces">

    <ion-card class="luces-card">
      <ion-card-header>
        <ion-card-title>I-001</ion-card-title>
        <ion-icon name="bulb-outline" class="luces-icon"></ion-icon>
      </ion-card-header>
      <div class="ion-toggle">
        <ion-toggle slot="end" checked></ion-toggle>
      </div>  
    </ion-card>

    <ion-card class="luces-card">
      <ion-card-header>
        <ion-card-title>I-002</ion-card-title>
        <ion-icon name="bulb-outline" class="luces-icon"></ion-icon>
      </ion-card-header>
      <div class="ion-toggle">
        <ion-toggle slot="end" checked></ion-toggle>
      </div>  
    </ion-card>

    <ion-card class="luces-card">
      <ion-card-header>
        <ion-card-title>I-003</ion-card-title>
        <ion-icon name="bulb-outline" class="luces-icon"></ion-icon>
      </ion-card-header>
      <div class="ion-toggle">
        <ion-toggle slot="end" checked></ion-toggle>
      </div>  
    </ion-card>

    <ion-card class="luces-card">
      <ion-card-header>
        <ion-card-title>I-104</ion-card-title>
        <ion-icon name="bulb-outline" class="luces-icon"></ion-icon>
      </ion-card-header>
      <div class="ion-toggle">
        <ion-toggle slot="end" checked></ion-toggle>
      </div>  
    </ion-card>

    <ion-card class="luces-card">
      <ion-card-header>
        <ion-card-title>I-101</ion-card-title>
        <ion-icon name="bulb-outline" class="luces-icon"></ion-icon>
      </ion-card-header>
      <div class="ion-toggle">
        <ion-toggle slot="end" checked></ion-toggle>
      </div>  
    </ion-card>

    <ion-card class="luces-card">
      <ion-card-header>
        <ion-card-title>I-102</ion-card-title>
        <ion-icon name="bulb-outline" class="luces-icon"></ion-icon>
      </ion-card-header>
      <div class="ion-toggle">
        <ion-toggle slot="end" checked></ion-toggle>
      </div>  
      </ion-card>


  </div>
</ion-content>
