.custom-header {
    --background: var(--ion-color-primary);
    --color: white;
    text-align: center;
  }
.puerta-cerrada {
    background-color: var(--ion-background-wb);
    border: 2px solid var(--details-login);
    color: var(--luces-border-off);
    border-radius: 15px;
  }
  
  .puerta-abierta {
    background-color: var(--ion-background-color);
    color: var(--luces-border-on);
    border: 2px solid var(--luces-border-on);
    border-radius: 15px;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
    height: 40vh;
  }

  ion-col{
    overflow: visible;
  }
  
  ion-card{
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
}

  ion-icon {
    font-size: 128px;
    margin-bottom: 10px;
  }
  
  h2{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 15px;
  }

  ion-button{
    min-width: 40%;
    font-weight: bold;
  }
.puerta-abierta ion-button::part(native) {
    background-color: var(--ion-background-wb) !important;
    color: white !important;
    border: 2px solid white
}

.puerta-cerrada ion-button::part(native) {
    background-color: var(--ion-background-color) !important;
    color: var(--details-login) !important;
    border: 2px solid var(--details-login);
}

  