ion-modal {
  --background: white !important;  /* Establecer el fondo del modal a blanco */
  --border-radius: 20px;
  --width: 80%;
  --height: auto;
}
  
  .modal-content {
    padding: 20px;
    text-align: center;
    background-color: white; /* Fondo blanco */
    border-radius: 12px; /* Bordes redondeados */
  }
  
  /* Estilo de los iconos */
  ion-icon {
    color: #2196f3; /* Color azul para los iconos */
    font-size: 3rem; /* Tamaño grande de iconos */
    margin-bottom: 10px;
  }
  
  /* Título del Modal */
  ion-header {
    background-color: #2196f3; /* Azul para el header */
    color: white; /* Título en blanco */
  }
  
  ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 0px;
    --padding-bottom: 20px;
    --background: white !important;
    background-color: white !important;
    color: #2196f3 !important;
  }

  ion-toolbar {
    --background: #2196f3; /* Fondo azul para la barra superior */
  }
  
  /* Estilo de la tabla */
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #2196f3; /* Bordes de la tabla en azul */
    text-align: center;
    color: #0d47a1;
    font-weight: bold;
  }
  
  th {
    background-color: #2196f3; /* Fondo azul para los encabezados */
    color: white;
  }
  
  /* Estilo del valor mostrado */
  .modal-value {
    font-size: 1.8rem;
    font-weight: bold;
    color: #0d47a1; /* Color azul oscuro para el texto */
    margin-bottom: 15px;
  }
  
  /* Botón de Cerrar */
  ion-button {
    background-color: #2196f3; /* Botón azul */
    color: white;
    margin-top: 20px;
  }
  