ion-modal {
  --background: var(--ion-background-color) !important;
  --border-radius: 20px;
  --width: 80%;
  --height: auto;
}

.modal-content {
  padding: 20px;
  text-align: center;
  background-color: var(--ion-background-color);
  border-radius: 12px;
}

ion-header {
  background-color: var(--ion-color-primary);
  color: white;
}

ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --background:  var(--ion-background-color) !important;
  color: var(--details-login) !important;
}

ion-toolbar {
  --background: var(--ion-color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilo de la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  padding: 10px;
  border: 1px solid var(--details-login);
  text-align: center;
  color: var(--details-login);
  font-weight: bold;
}

th {
  background-color: var(--ion-color-primary);
  color: white;
}

ion-button {
  background-color: var(--ion-color-primary);
  color: white;
}
