<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Parametros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Parametros</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="sensor-cards">
    <ion-card class="sensor-card">
      <ion-card-header>
        <ion-card-title>Temperatura</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="sensor-value">25°C</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="sensor-card">
      <ion-card-header>
        <ion-card-title>Humedad</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="sensor-value">60%</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="sensor-card">
      <ion-card-header>
        <ion-card-title>Presión</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="sensor-value">1013 hPa</p>
      </ion-card-content>
    </ion-card>
    <ion-card class="sensor-card">
      <ion-card-header>
        <ion-card-title>Temperatura</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="sensor-value">25°C</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="sensor-card">
      <ion-card-header>
        <ion-card-title>Humedad</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="sensor-value">60%</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="sensor-card">
      <ion-card-header>
        <ion-card-title>Presión</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="sensor-value">1013 hPa</p>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>

  