/* Nuevo Header */
.custom-header {
  --background: var(--ion-color-primary) !important;
  --color: white;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  height: 60px;
}

ion-title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

ion-back-button {
  color: white;
}

ion-content {
  --background: var(--ion-background-color) !important;
}

.wrapform {
  margin-top: 15px;
}

ion-item {
  color: #647B9D;
  --border-color: var(--details-login);
  --highlight-color-focused: #1248A0;
  --padding-start: 0;
  --inner-padding-end: 0;
  font-size: 12px;
  margin-top: 5px;
}

ion-item ion-input {
  color: var(--details-login);
}

ion-item ion-icon {
  padding-right: 6px;
  font-size: 18px;
}

ion-item ion-input:hover {
  color: var(--details-login-hover);
}

.password_forgot{
  display: flex;
  justify-content: flex-end;
}

.password_forgot ion-button{
  color: var(--details-login);
}
.lgn-btn-wrap {
  text-align: center;
  padding-top: 20px;
}

.lgn-btn {
  color: white;
  border-radius: 25px;
  border: 1px solid var(--luces-border-off);
  background-color: var(--ion-primary-color);
}

.text-tag {
  margin-top: 30px;
  text-align: center;
}

.text-tag span {
  font-size: 13px;
  font-weight: normal;
  color: #898585;
}

.social-btns {
  margin-top: 25px;
  text-align: center;
}

ion-card {
  --ion-background-color: transparent !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.btn-login{
  color: var(--details-login);
}

.ion-card-footer {
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.ion-card-footer span {
  color: #85888D;
  font-size: 12px;
  font-weight: 200;
}

.ion-card-footer button {
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
}

.custom-icon{
  color: var(--details-login);
  width: 40px; 
  height: 40px;
  margin: 10px;
}
ion-button:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
ion-button {
  width: auto;
  overflow: visible !important;
  transition: transform 0.4s ease, opacity 0.4s ease;
  cursor: pointer;
}  