ion-content {
  --ion-background-color: white !important;
}

ion-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease-in-out;
  text-align: center;
  padding: 15px;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  }
}

ion-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-container {
  background: #007bff;
  border-radius: 50%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.card-icon {
  font-size: 32px;
  color: white;
}

@media (max-width: 768px) {
  ion-card-header {
    flex-direction: row;
    justify-content: flex-start;
  }

  .icon-container {
    margin-right: 15px;
    margin-bottom: 0;
  }
}
