<ion-header>
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-card-content>

      <form>
        <div class="wrapform">
          <ion-item>
            <ion-input type="text" name="name" placeholder="Nombre Completo">
              <ion-icon name="person-outline"></ion-icon>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" name="email" placeholder="Email">
              <ion-icon name="mail-outline"></ion-icon>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" name="password" placeholder="Contraseña">
              <ion-icon name="lock-closed"></ion-icon>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" name="confirm_password" placeholder="Confirmar Contraseña">
              <ion-icon name="lock-closed"></ion-icon>
            </ion-input>
          </ion-item>
        </div>

        <div class="sign-btn-wrap">
          <ion-button shape="round" type="submit" fill="solid" class="sign-btn">Registrarse</ion-button>
        </div>

        <div class="text-tag">
          <span>Por redes sociales</span>
        </div>

        <div class="social-btns">
          <ion-button fill="clear" class="facebookbtn ion-no-padding">
            <ion-icon src="../../assets/icon/outlook.svg" class="custom-icon"></ion-icon>
          </ion-button>
          <ion-button fill="clear" class="googlebtn ion-no-padding">
            <ion-icon src="../../assets/icon/gmail.svg" class="custom-icon"></ion-icon>
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>

  <div class="ion-card-footer">
    <span>Ya tienes cuenta?</span><ion-button fill="clear" routerLink="/home" class="btn-login ion-no-padding">Inicia
      sesión</ion-button>
  </div>
</ion-content>