<ion-header>
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-card-content>

      <form (submit)="register()">
        <div class="wrapform">
          <ion-item>
            <ion-input type="text" [(ngModel)]="name" name="name" placeholder="Nombre" required>
              <ion-icon name="person-outline"></ion-icon>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" [(ngModel)]="lastname" name="lastname" placeholder="Apellido" required>
              <ion-icon name="person-outline"></ion-icon>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="email" [(ngModel)]="email" name="email" placeholder="Email" required>
              <ion-icon name="mail-outline"></ion-icon>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required
              minlength="6">
              <ion-icon name="lock-closed-outline"></ion-icon>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirmar Contraseña"
              required>
              <ion-icon name="lock-closed-outline"></ion-icon>
            </ion-input>
          </ion-item>
        </div>

        <div class="sign-btn-wrap">
          <ion-button shape="round" type="submit" fill="solid" class="sign-btn">Registrarse</ion-button>
        </div>
      </form>

      <div class="text-tag">
        <span>Por redes sociales</span>
      </div>

      <div class="social-btns">
        
        <ion-button fill="clear" class="googlebtn ion-no-padding" (click)="registerWithGoogle()">
          <ion-icon src="../../assets/icon/gmail.svg" class="custom-icon"></ion-icon>
        </ion-button>        
      </div>
    </ion-card-content>
  </ion-card>

  <div class="ion-card-footer">
    <span>¿Ya tienes cuenta?</span>
    <ion-button fill="clear" routerLink="/home" class="btn-login ion-no-padding">Inicia sesión</ion-button>
  </div>
</ion-content>
